<br>
<div style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 34px; line-height: 1.2;">
  Privacy Policy
</div>

<br>
<div style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2">
  Last Updated: 02/20/2024
</div>
<br>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">
  Gonah Software (“we” or “us”) is committed to protecting your privacy. This Privacy Policy explains the methods and
  reasons we collect, use, disclose, transfer, and store your information. If you have any questions about the contents
  of this policy, don't hesitate to contact us.

</div>

<br>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">
  If you do not consent to the collection and use of information from or about you in accordance with this Privacy
  Policy, then you are not permitted to use Aye App or any services provided on https://www.jonahtoch.com

</div>

<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%; color: #3366FF">
  Applicable Law
</div>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Gonah Software is headquartered in the United States of America in the state of Illinois.

  <br>
  By viewing any content or otherwise using the services offered by Gonah Software, you consent to the transfer of
  information to the United States of America to the extent applicable, and the collection, storage, and processing of
  information under Illinois, USA law.

</div>
<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%;color: #3366FF; ">
  Information We Collect
</div>


<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Information you Submit: We store information you provide on this site via forms, surveys, or any other interactive
  content.
  This information commonly includes, but is not limited to, name and email address.

</div>

<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Log Files: We collect information when you use services provided on our site. This information may include your IP
  address, device and software characteristics (such as type and operating system), page views, referral URLs, device
  identifiers or other unique identifiers such as advertising identifiers (e.g., “ad-ID” or “IDFA”), and carrier
  information. Log files are primarily used for the purpose of enhancing the user experience.

</div>

<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Cookies: We use cookies and related technologies to keep track of user preferences and activity. Cookies are small
  text files created by a web server, delivered through a web browser, and stored on your computer. Most Internet
  browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting
  cookies or to prompt you before accepting a cookie from the websites you visit.

</div>
<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%;color: #3366FF; ">
  Third Party Services

</div>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  This site contains links to other websites not owned by Gonah Software. In general, the third-party services used by
  us will only collect, use and disclose your information to the extent necessary to allow them to perform their
  intended services. Please be aware that we are not responsible for the privacy policies of third-party services.

</div>

<br><br>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%;color: #3366FF; ">
  Children and COPPA
</div>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Gonah Software  is committed to complying with the Children's Online Privacy Protection Act (COPPA).
  We do not use our services to intentionally solicit data from or market to children under the age of 13.
  We encourage parents and guardians to report any suspicions that a child has provided us with information without their consent.
  We will take reasonable action to remove this information.

</div>

<br><br>
<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%;color: #3366FF; ">
  Your Choices

</div>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">


  <br>
  Do Not Track Browser settings: If you enable Do Not Track settings in the browser you are using,
  Gonah Software will not use information about websites you visit, other than our site.
  Learn more about Do Not Track by visiting https://allaboutdnt.com.

  <br>
  Email Communication Opt-Out: If you receive promotional emails from Gonah Software,
  you can unsubscribe by clicking the bottom Unsubscribe or Opt-Out link at the bottom of every email.


</div>

<br><br>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 22px; line-height: 1.2; margin-left: 15%; margin-right: 15%;color: #3366FF; ">
  Contact Us

</div>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  At Gonah Software, we believe our talented customer service staff will be able to resolve any issues you may have using the our services.

  If you would like additional information about this privacy policy, please contact us at gonahsoftware@gmail.com



</div>

<br><br>

<div
  style="display: flex; justify-content: center; font-family: verdana, serif; font-size: 18px; line-height: 1.2; margin-left: 15%; margin-right: 15%;">

  Copyright © 2024 Gonah Software All rights reserved.


</div>
