<br><br>
<div style="display: flex; justify-content: center">
  <p style="font-size: 36px"><i>Sesame🥯</i></p>
</div>
<br><br><br>

<div style="display: flex; justify-content: center; align-items: center;" role="group">

  <button mat-raised-button (click)="assignNewSesame()"
          style="font-family: serif; background-color: olivedrab; height: 88px;
    width: 40%; margin-right: 3%;
    max-width: 200px; font-size: 18px;">
    <b>📜<br>Assign New<br> Sesame<br></b>
  </button>

  <button mat-raised-button (click)="openSesame()"
          style="font-family: serif; background-color: cadetblue; height: 88px;
          width: 40%; margin-left: 3%;
          max-width: 200px; font-size: 18px;">
    <b>
      🚪<br> Open<br> Door<br>
    </b>
  </button>
</div>
<br>

<ng-container *ngIf="assigningSesame">

  <div style="display: flex; justify-content: center; overflow: hidden">
    <form style="width: 100%; display: flex; justify-content: center;" [formGroup]="formData">
      <mat-form-field style="width: 95%; max-width: 500px">
        <mat-label><i>Sesame ID</i></mat-label>
        <input matInput id="sesameId" formControlName="sesameId">
        <mat-hint>The ID found on your Sesame device</mat-hint>
      </mat-form-field>
    </form>

  </div>
  <br>
  <div style="display: flex; justify-content: center; overflow: hidden">
    <button mat-raised-button (click)="claimSesame()"
            style="font-family: serif; background-color: maroon; height: 88px;
    width: 40%; margin-right: 3%;
    max-width: 200px; font-size: 18px; color: white">
      <b>⛏️<br>Claim<br> Sesame<br></b>
    </button>
  </div>

</ng-container>
<br>

<ng-container *ngIf="loading">
  <div style="display: flex; justify-content: center; margin-top: 10%;">
    <mat-spinner></mat-spinner>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 10%;">
    <b>Opening door....</b>
  </div>
</ng-container>

<div style="display: flex; justify-content: center; overflow: hidden">
  <mat-error *ngIf="openSesameStatus === 'failure'"
             style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px; font-weight: bold">
    Opening the door failed.

    <br><br>
    Make sure the device is powered and on.
  </mat-error>
  <div *ngIf="openSesameStatus === 'success'"
       style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px; font-weight: bold; color: green">
    The door was opened.

  </div>

  <div style="display: flex; justify-content: center; overflow: hidden">
    <mat-error *ngIf="assigningSesameStatus === 'failure'"
               style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px; font-weight: bold">
      Assigning the Sesame failed.


    </mat-error>
    <div *ngIf="assigningSesameStatus === 'success'"
         style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px; font-weight: bold; color: green">
      The Sesame was assigned successfully!

    </div>

</div>


